table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
}

#paragrafo
{
    color: red;
}

.bottoniSpeciali
{
    background-color: green;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
}

.bottoniParticolari
{
    font-weight: bold;
    font-style: italic;
}